.linkList {
  list-style: none;
  padding-inline-start: 0;
  display: grid;
}

.dividedVariant {
  color: black;
}

.dividedVariantLink a {
  color: var(--ax-text-neutral);
}

.dividedVariantLink:first-child {
  padding-top: 10px;
  border-top: 1px solid var(--ax-border-neutral-subtle); /* Divider between links */
}

.dividedVariantLink {
  border-bottom: 1px solid var(--ax-border-neutral-subtle); /* Divider between links */
}

.link:not(:first-child) {
  padding-top: 10px;
}

.link {
  padding-bottom: 10px;
}
