.linkList {
  list-style: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-colums: auto 1fr;
}

.dividedVariant {
  color: black;
}

.dividedVariantLink a {
  color: var(--a-text-default);
}

.dividedVariantLink:first-child {
  border-top: 1px solid var(--a-border-divider); /* Divider between links */
}

.dividedVariantLink {
  margin: 0;
  border-bottom: 1px solid var(--a-border-divider); /* Divider between links */
}

.link {
  padding: 13px 0;
}
