.navds-show-more {
  /* stylelint-disable-next-line property-no-unknown  */
  interpolate-size: allow-keywords;

  --ac-show-more-mask: linear-gradient(rgba(0 0 0 / 100%), rgba(0 0 0 / 0%) calc(100% - 0.5rem));

  padding: var(--ax-space-24);
  position: relative;
  border-radius: var(--ax-radius-8);
  height: fit-content; /* in case the parent is stretching */
  display: flex;
  flex-direction: column;
  min-width: 12rem;
}

.navds-show-more__button-wrapper {
  display: inline-block;
  background: var(--ax-bg-default);
  border-radius: var(--ac-button-border-radius, var(--ax-radius-4)); /* same as Button */
}

.navds-show-more--default,
.navds-show-more--default .navds-show-more__button-wrapper {
  background: var(--ax-bg-default);
}

.navds-show-more--subtle,
.navds-show-more--subtle .navds-show-more__button-wrapper {
  background: var(--ax-bg-accent-soft);
}

.navds-show-more--info,
.navds-show-more--info .navds-show-more__button-wrapper {
  background: var(--ax-bg-info-soft);
}

.navds-show-more--closed .navds-show-more__content {
  mask-image: var(--ac-show-more-mask);
  overflow: hidden;
}

.navds-show-more__content {
  transition: height cubic-bezier(0, 0.3, 0.15, 1) 400ms;
  overflow: hidden;
  height: max-content;
}

.navds-show-more__button-section {
  text-align: center;
  left: 0;
  right: 0;
  bottom: var(--ax-space-16);
  margin-top: var(--ax-space-40);
  z-index: 1;
  order: 1;
}

.navds-show-more--closed .navds-show-more__button-section {
  position: absolute;
}
