.kort {
  min-width: 10em;
  color: var(--ax-neutral-1000);
  text-decoration: none;
}

.kort:hover .kortBox {
  background-color: var(--ax-neutral-300A);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
}

.chevronIcon {
  transition: transform 0.2s ease 0s;
  display: flex;
  align-items: center;
}

.kort:hover .chevronIcon,
.kort:focus .chevronIcon {
  transform: translateX(5px);
}

.kortIcon {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ax-brand-blue-600)
}
