.ingenUforetrygd {
    width: 632px;
}

.tilBehandling {
    width: 632px;
}

.guidepanelWrapper {
  max-width: var(--content-width);
  width: 100%;
  padding-inline: 12px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.uforetrygdHeading {
  padding-bottom: 1rem;
}

.uforetrygdHendelserLinkButton {
  margin-top: 1rem;
}

.link {
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
}
