.ingenUforetrygd {
  width: clamp(300px, 100vw - 36px, 632px);
}

.guidepanelWrapper {
  max-width: var(--content-width);
  width: 100%;
  padding-inline: 12px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.link {
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
}
