@import "@navikt/ds-tokens";

body {
  margin: 0;
  background-color: var(--ax-bg-default);
}

.main-content > * {
  max-width: var(--content-width);
  width: 100%;
}

.ux-signals-container {
  display: flex;
  justify-content: flex-start;
  max-width: var(--content-width);
  width: 100%;

  & > div {
    max-width: 620px;
  }
}

.main-content > h1,
.main-content > .tittel-wrapper {
  max-width: var(--content-width);
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ax-space-48);
  margin-top: var(--ax-space-24);
  padding-inline: 12px;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
