.dittVedtak {
  width: 632px;
}

.dittVedtakWrapper {
  max-width: var(--content-width);
  width: 100%;
  padding-inline: 12px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.link {
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
}
